<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.datasource">jdbc/opus</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/opus</property>
        <property name="connection.username">root</property>
        <property name="connection.password">hack2017</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.samaritan.opus.model.PaymentAccount"/>
        <mapping resource="com/samaritan/opus/model/PaymentAccount.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.ProfileAccount"/>
        <mapping resource="com/samaritan/opus/model/ProfileAccount.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.Artiste"/>
        <mapping resource="com/samaritan/opus/model/Artiste.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.Following"/>
        <mapping resource="com/samaritan/opus/model/Following.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.Song"/>
        <mapping resource="com/samaritan/opus/model/Song.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.Album"/>
        <mapping resource="com/samaritan/opus/model/Album.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.Genre"/>
        <mapping resource="com/samaritan/opus/model/Genre.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.MusicVideo"/>
        <mapping resource="com/samaritan/opus/model/MusicVideo.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.VideoProducer"/>
        <mapping resource="com/samaritan/opus/model/VideoProducer.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.VideoCategory"/>
        <mapping resource="com/samaritan/opus/model/VideoCategory.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.Movie"/>
        <mapping resource="com/samaritan/opus/model/Movie.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.Documentary"/>
        <mapping resource="com/samaritan/opus/model/Documentary.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.Series"/>
        <mapping resource="com/samaritan/opus/model/Series.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.SongDownload"/>
        <mapping resource="com/samaritan/opus/model/SongDownload.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.MusicVideoDownload"/>
        <mapping resource="com/samaritan/opus/model/MusicVideoDownload.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.MovieDownload"/>
        <mapping resource="com/samaritan/opus/model/MovieDownload.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.SeriesDownload"/>
        <mapping resource="com/samaritan/opus/model/SeriesDownload.hbm.xml"/>
        <mapping class="com.samaritan.opus.model.DocumentaryDownload"/>
        <mapping resource="com/samaritan/opus/model/DocumentaryDownload.hbm.xml"/>
    </session-factory>
</hibernate-configuration>